<!DOCTYPE html>
<html>
<head>
    <title>AngularJS File Upoad Example with $http and FormData</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>

<body ng-app="fupApp">
<div ng-controller="fupController">

    <input type="file" id="file1" name="file" multiple
           ng-files="getTheFiles($files)" />

    <input type="button" ng-click="uploadFiles()" value="Upload" />
</div>
</body>
</html>
